/* Add CSS Styling */
.odd {
    background-color: rgb(236, 162, 173);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second{
    color: blue;
    font-size: 36px;
}

.odd.third{
    font-size: 24px;
}

#fourth{
    background-color: #85eb85;
    font-size: 24px;
    font-weight: bold;
}