body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: auto;
  background: darkmagenta;
  color: white;
  padding: 10px;
  font-weight: 700;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  flex: 1;
  background: royalblue;
  box-sizing: border-box;
  padding: 10px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

.content{
  display: flex;
  align-items: stretch;
  flex: 1;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  color: white;
}

.sidebar ul{
  display: flex;
  flex-direction: column;
}

.sidebar li{
  padding: 0;
  margin: 0 0 20px 0;
}

.items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding: 20px;
  flex: 5;
}

.card{
  height: auto;
  padding: 10px;
  flex: 1 1 280px;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 10px;
}